#maincard {
	min-width: 330px;
	max-width: 600px;
}

.noteContent {
	border-bottom: none !important;
	outline: none;
}

.done {
	float: right;
}

[contenteditable=true]:empty:before {
	content: attr(placeholder);
	display: block;
}

md-sidenav {
	height: -webkit-fill-available;
}