#maincard {
	min-width: 330px !important;
	max-width: 600px !important;
}

md-card {
	word-break: break-all;
}

.mynote {
	min-width: 330px;
}

.noteContent {
	border-bottom: none !important;
	outline: none;
	word-break: break-all;
}

[contenteditable=true]:empty:before {
	content: attr(placeholder);
	display: block;
}