<div class="container justify-content-center col-6" id="maincontainer">


    <div class="row">

        <div class="col text-center">
            <h2 class="form-signin-heading">Enter your new password</h2>
        </div>

    </div>


    <div class="row">
        <div class="col">
            <form name="form" class="form-signin" novalidate>
                <div class="form-group">
                    <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Password" ng-model="user.password"
                        ng-minlength="5" ng-maxlength="10" required />
                    <div class="has-danger">
                        <div class="form-control-feedback" ng-show="form.password.$dirty &&  form.password.$error.required">* Required</div>
                        <div class="form-control-feedback" ng-show="form.password.$dirty &&  form.password.$error.minlength">Password is Too Short!!!</div>
                        <div class="form-control-feedback" ng-show="form.password.$dirty &&  form.password.$error.maxlength">Password is To Long!!!</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" name="confirmpassword" ng-model="user.confirmpassword" class="form-control" placeholder="Retype the password"
                        ng-model="user.confirmpassword" match-password="password" required />
                    <div class="has-danger">
                        <div class="form-control-feedback" ng-show="form.confirmpassword.$dirty &&  form.confirmpassword.$error.required">* Required</div>
                        <div class="form-control-feedback" ng-show="form.confirmpassword.$dirty &&  form.confirmpassword.$error.passwordMatch">Passwords do not match!
                        </div>
                    </div>
                </div>

                <button type="submit" ng-click="reset()" ng-disabled="form.$invalid" class="btn btn-success btn-lg float-right">Reset</button>                                

            </form>
        </div>
    </div>
</div>