<div class="container">

    <div class="row">
        <div class="col">
            <form class="form-signin" name="form" novalidate>
                <h2 class="form-signin-heading">Register</h2>

                <div class="form-group">
                    <label for="firstName" class="form-control-label">First Name</label>
                    <input type="text" ng-model="user.firstName" class="form-control" placeholder="John" name="firstName" ng-pattern="$ctrl.name"
                        required>
                    <div class="has-danger">
                        <div class="form-control-feedback" ng-show="form.firstName.$dirty &&  form.firstName.$error.required">* Required</div>
                        <div class="form-control-feedback" ng-show="form.firstName.$dirty &&  form.firstName.$error.pattern">Please enter characters only.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" class="form-control-label">Last Name</label>
                    <input type="text" ng-model="user.lastName" class="form-control" placeholder="Doe" name="lastName" ng-pattern="$ctrl.name"
                        required>
                    <div class="has-danger">
                        <div class="form-control-feedback" ng-show="form.lastName.$dirty &&  form.lastName.$error.required">* Required</div>
                        <div class="form-control-feedback" ng-show="form.lastName.$dirty &&  form.lastName.$error.pattern">Please enter characters only.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="form-control-label">Email address</label>
                    <input type="email" name="email" class="form-control form-control-danger" placeholder="Email" ng-model="user.email" required/>
                    <div class="has-danger">
                        <div class="form-control-feedback" ng-show="form.email.$dirty &&  form.email.$error.required">* Required</div>
                        <div class="form-control-feedback" ng-show="form.email.$dirty &&  form.email.$error.email">Not an E-mail</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="text" class="form-control no-spin" ng-model="user.mobile" placeholder="8963757247"
                        name="mobile" ng-pattern="$ctrl.phoneNumber">
                    <div class="has-danger">
                        <div class="form-control-feedback" ng-show="form.mobile.$dirty &&  form.mobile.$error.required">* Required</div>
                        <div class="form-control-feedback" ng-show="form.mobile.$dirty &&  form.mobile.$error.minlength">Please enter 10 digits only</div>
                        <div class="form-control-feedback" ng-show="form.mobile.$dirty &&  form.mobile.$error.maxlength">Please enter 10 digits only</div>
                        <div class="form-control-feedback" ng-show="form.mobile.$dirty &&  form.mobile.$error.pattern">Incorrect mobile no</div>
                    </div>
                </div>


                <div class="form-group">
                    <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Password" ng-model="user.password"
                        ng-minlength="5" ng-maxlength="10" required />
                    <div class="has-danger">
                        <div class="form-control-feedback" ng-show="form.password.$dirty &&  form.password.$error.required">* Required</div>
                        <div class="form-control-feedback" ng-show="form.password.$dirty &&  form.password.$error.minlength">Password is Too Short!!!</div>
                        <div class="form-control-feedback" ng-show="form.password.$dirty &&  form.password.$error.maxlength">Password is To Long!!!</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" name="confirmpassword" ng-model="user.confirmpassword" class="form-control" placeholder="Retype the password"
                        ng-model="user.confirmpassword" match-password="password" required />
                    <div class="has-danger">
                        <div class="form-control-feedback" ng-show="form.confirmpassword.$dirty &&  form.confirmpassword.$error.required">* Required</div>
                        <div class="form-control-feedback" ng-show="form.confirmpassword.$dirty &&  form.confirmpassword.$error.passwordMatch">Passwords do not match!
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="gender">Gender</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="user.gender" type="radio" name="gender" value="male"
                                    required> Male
                            </label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="user.gender" type="radio" name="gender" value="female"
                                    required> Female
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <p id="agreement">
                        By Clicking on the "Create Account" Button below, you certify that you have read and agree to our
                        <a
                            href="#">terms of use</a> and
                            <a href="">privacy policy</a>.
                    </p>
                </div>


                <button type="submit" class="btn btn-success btn-block" ng-disabled="form.$invalid" ng-click="submit()">Create an Account</button>



                <div class="form-group">
                    <p id="signin" class="text-center">
                        Already have an Account?
                        <a ui-sref="login">Sign In</a>.
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>