<md-content flex layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
      <md-card-content>
        <h1>Register to Fundoo Notes</h1>
        <form name="Form">
          <md-input-container class="md-block">
            <label>First Name</label>
            <input type="text" name="firstName" ng-model="user.firstName" required="" />
            <div ng-messages="Form.firstName.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">Please enter your first name.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Last Name</label>
            <input type="text" name="lastName" ng-model="user.lastName" required="" />
            <div ng-messages="Form.lastName.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">Please enter your last name.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Email</label>
            <input type="text" name="email" ng-model="user.email" required="" ng-pattern="/^.+@.+\..+$/" />
            <div ng-messages="Form.email.$error" role="alert" multiple="">
              <div ng-message-exp="['required', 'pattern']" class="my-message">Please enter correct email.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password" ng-minlength="6" required=""/>
            <div ng-messages="Form.password.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">Please enter your password.</div>
              <div ng-message="minlength" class="my-message">Your password must be at least 6 characters</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" ng-model="confirmPassword" match-password="password" required="" />
            <div ng-messages="Form.confirmPassword.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">Please re-enter your password.</div>
              <div ng-message="passwordMatch" class="my-message">Your password is not matching</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Mobile Phone</label>
            <input type="number" name="mobilePhone" ng-model="user.mobilePhone" ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/" required="" />
            <div ng-messages="Form.mobilePhone.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">Please enter your mobile phone number.</div>
              <div ng-message="minlength" class="my-message">Your mobile phone number must be atleast 10</div>
              <div ng-message="maxlength" class="my-message">Your mobile phone number must be atmost 10</div>
            </div>
          </md-input-container>
          <md-button style="width: -webkit-fill-available;" ng-disabled="!Form.$valid" ng-click="submit()" class="md-raised md-primary">&nbsp Sign Up &nbsp</md-button>
          <div layout="column">
          <a ui-sref="login" style="text-align:center">Already Have an Account?</a>
        </div>
        </form>
      </md-card-content>
    </md-card>
  </md-content>