<md-content flex layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
      <br><br><br><br>
      <md-card-content>
        <h1>Login to FundooNotes</h1>
        <form name="Form">
          <md-input-container class="md-block">
            <label>Email</label>
            <input type="text" name="email" ng-model="user.email" required="" ng-pattern="/^.+@.+\..+$/" />
            <div ng-messages="Form.email.$error" role="alert" multiple="">
              <div ng-message-exp="['required', 'pattern']" class="my-message">Please enter correct email.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password" required="" />
            <div ng-messages="Form.password.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">Please enter your password.</div>
            </div>
            <div style="float:right">
              <a ui-sref="forgotpassword">Forgot Password?</a>
            </div>
          </md-input-container>
          <md-button style="width: -webkit-fill-available;" ng-disabled="!Form.$valid" ng-click="submit()" class="md-raised md-primary">&nbsp Sign In &nbsp</md-button>
          <div layout="column">
            <a ui-sref="register" style="text-align:center">Create an account</a>
          </div>
          <br><br>
          <div layout="column" >
            <a href="loginWithFacebook">
              <md-button style="width: -webkit-fill-available;" class="md-raised md-primary">&nbsp Facebook  &nbsp</md-button>
            </a>
            <a href="loginWithGoogle">
              <md-button style="width: -webkit-fill-available;" class="md-raised md-warn">&nbsp Google &nbsp</md-button>
            </a>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </md-content>