<div class="container justify-content-center col-6" id="forgotpasswordcontainer">
  <div class="card card-outline-secondary">
    <div class="card-header">
      <h3 class="mb-0">Password Reset</h3>
    </div>
    <div class="card-block">
      <form name="form" class="form" role="form" autocomplete="off" novalidate>
        <div class="form-group row">
          <div class="col-6 mx-auto">
            <input type="email" name="email" ng-model="user.email" class="form-control form-control-danger" placeholder="Email" required/>
            <div class="has-danger">
              <div class="form-control-feedback" ng-show="form.email.$dirty &&  form.email.$error.required">* Required</div>
              <div class="form-control-feedback" ng-show="form.email.$dirty &&  form.email.$error.email">Not an E-mail</div>
              <!-- <div class="form-control-feedback" ng-show="emailSuccess">Email sent successfully</div> -->
              <!-- <div class="form-control-feedback" ng-show="emailSuccess">Email not found</div> -->
            </div>
            <span id="helpResetPasswordEmail" class="form-text small text-muted">
              Password reset instructions will be sent to this email address.
            </span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-6 mx-auto d-flex justify-content-center">
            <button type="submit" ng-click="submit()" ng-disabled="form.$invalid" class="btn btn-success btn-lg float-right">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>