<md-content flex layout="column" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="recoverPassword-form">
<md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
<md-card-content>
<form name="Form">
  <h2>Enter the registered Email</h2>
<md-input-container class="md-block">
<label>Email</label>
<input type="text" name="email" ng-model="user.email" required="" ng-pattern="/^.+@.+\..+$/" />
<div ng-messages="Form.email.$error" role="alert" multiple="">
<div ng-message-exp="['required', 'pattern']" class="my-message">Please enter correct email.</div>
</div>
</md-input-container>
<md-button ng-disabled="!Form.$valid" ng-click="submit()" class="md-raised md-primary">Send Reset Link</md-button>
<br>
</form>
</md-card-content>
</md-card>
</md-content>